body,
.main section article dl h4,
span.icon,
.lnb .member-type {
  font-size: 14px;
}

.lnb {
  background-color: #fafafa;
}

.lnb h3,
.main section article h3.subsection-title,
.lnb .member-type,
.readme p a {
 color: rgb(227, 25, 0);
}

.lnb .lnb-api a,
.lnb .lnb-examples a {
  color: #337ab7;
}

.lnb .lnb-api a:hover,
.lnb .lnb-examples a:hover {
    color: #364149;
}

.lnb .logo {
  height: 30px;
}

.logo {
  width: 180px;
}

footer,
#resizer {
  background-color: #a8a8a8;
}

.lnb .title .link {
  color: #364149;
  font-style: normal;
}

.main section article h3.subsection-title {
  padding: 35px 0 5px 5px;
}

.lnb-tab li.selected a {
  color: #364149
}
